body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-bottom: 800px;
    background-image: url("../images/istockphoto-1152451549-170667a.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
}

.title {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 48px;
    border: 1 px solid black;
    width: 1000px;
    margin: 0 auto;
}
